<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>market_0</key>
	<dict>
		<key>star_count</key>
		<string>43</string>
		<key>locationX</key>
		<real>39.835531</real>
		<key>locationY</key>
		<real>116.178135</real>
		<key>title</key>
		<string>ChangXin Farm</string>
		<key>location</key>
		<string>ChangXinDian, Beijing, China</string>
		<key>picture</key>
		<string>morton_williams</string>
		<key>marked</key>
		<false/>
	</dict>
	<key>market_1</key>
	<dict>
		<key>locationX</key>
		<real>39.833949</real>
		<key>locationY</key>
		<real>116.178306</real>
		<key>title</key>
		<string>Wong&apos;s Work Farm</string>
		<key>location</key>
		<string>1011 XingLong Road</string>
		<key>picture</key>
		<string>new_york_supermarket</string>
		<key>star_count</key>
		<string>36</string>
		<key>marked</key>
		<false/>
	</dict>
	<key>market_2</key>
	<dict>
		<key>locationX</key>
		<real>39.83965</real>
		<key>locationY</key>
		<real>116.164745</real>
		<key>title</key>
		<string>Luck Farm</string>
		<key>location</key>
		<string>YangJia Wen Road, FengTai</string>
		<key>picture</key>
		<string>gnc</string>
		<key>star_count</key>
		<string>568</string>
		<key>marked</key>
		<false/>
	</dict>
	<key>market_3</key>
	<dict>
		<key>locationX</key>
		<real>39.824161</real>
		<key>locationY</key>
		<real>116.174293</real>
		<key>title</key>
		<string>Farm Of TaiZi</string>
		<key>location</key>
		<string>TaiZiYU Road, FengTai</string>
		<key>picture</key>
		<string>h_mart</string>
		<key>star_count</key>
		<string>709</string>
		<key>marked</key>
		<true/>
	</dict>
	<key>market_4</key>
	<dict>
		<key>locationX</key>
		<real>39.819118</real>
		<key>locationY</key>
		<real>116.164508</real>
		<key>title</key>
		<string>CouldEve Farm</string>
		<key>location</key>
		<string>1024 YunGang Road, FengTai</string>
		<key>picture</key>
		<string>m_f_foods</string>
		<key>star_count</key>
		<string>173</string>
		<key>marked</key>
		<false/>
	</dict>
	<key>market_5</key>
	<dict>
		<key>locationX</key>
		<real>39.807646</real>
		<key>locationY</key>
		<real>116.174164</real>
		<key>title</key>
		<string>OldMan Farm</string>
		<key>location</key>
		<string>Double Dragon Road, State Pkway</string>
		<key>picture</key>
		<string>b_h_market</string>
		<key>star_count</key>
		<string>637</string>
		<key>marked</key>
		<false/>
	</dict>
	<key>market_6</key>
	<dict>
		<key>locationX</key>
		<real>39.821821</real>
		<key>locationY</key>
		<real>116.195579</real>
		<key>title</key>
		<string>GingerCaro Farm</string>
		<key>location</key>
		<string>101 Railroad station Pkway</string>
		<key>picture</key>
		<string>whole_foods_market</string>
		<key>star_count</key>
		<string>79</string>
		<key>marked</key>
		<true/>
	</dict>
	<key>market_7</key>
	<dict>
		<key>locationX</key>
		<real>39.81925</real>
		<key>locationY</key>
		<real>116.186181</real>
		<key>title</key>
		<string>GloryWay Farm</string>
		<key>location</key>
		<string>201 Gin Road, FengTai</string>
		<key>picture</key>
		<string>c_marketplace</string>
		<key>star_count</key>
		<string>77</string>
		<key>marked</key>
		<false/>
	</dict>
</dict>
</plist>
