<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chelsea Marketplace
Chelsea Marketplace
Chelsea Marketplace
Chelsea Marketplace
</key>
	<dict>
		<key>r_1</key>
		<string>They are a great brand, all of their chocolates are rich and delicious, and their fillings are divine. Doing this review is making me want to eat a whole bag of them. Good thing they come individually wrapped...helps me to pace myself!</string>
	</dict>
	<key>Whole Foods Market</key>
	<dict>
		<key>r_1</key>
		<string>Delicious and creamy! Not as sweet as other chocolate products. One of the best!</string>
		<key>r_2</key>
		<string>DROOL! I love these...if anyone needs a full time taste tester I am your woman!</string>
		<key>r_3</key>
		<string> Flavorful and creamy. Yum.</string>
		<key>r_4</key>
		<string>Absolutely love these. Not only are the perfect snacking size, I don&apos;t feel guilty about letting my kids have one either. I always have a couple of these individually wrapped chocolates in my purse for when those hunger pains hit or the urge for chocolate arises and you need something quick!</string>
	</dict>
	<key>Black Hart Marketing</key>
	<dict>
		<key>r_1</key>
		<string>Perfect size, taste, everything. smooth and always me favorite </string>
		<key>r_2</key>
		<string> Any chocolate is good but Ghiradelli? AMAZING. It&apos;s smooth and creamy and absolutely delightful.</string>
	</dict>
	<key>MyDanoz Fine Foods</key>
	<dict>
		<key>r_1</key>
		<string>WoW.... thats all i have to say ... For a woman that loves chocolate so much and has tried every flavor there is. Ghirardelli chocolate is the best in the world... it just melts is your mouth and when it does you taste the difference right away... Best smooth Chocolate created... If you are a chocolate lover then I definitely recommend you try this brand...!!!</string>
		<key>r_2</key>
		<string>Ghirardelli Squares chocolates deliver the perfect balance of intense, slow-melting Ghirardelli chocolate and luscious fillings. These individually wrapped chocolates are perfect as an individual indulgence, to share with friends and family, or to give as a gift. Gluten-Free</string>
		<key>r_3</key>
		<string>These are so good. Wonderful chocolate taste, creamy, melt in your mouth. Can&apos;t just eat one!</string>
	</dict>
	<key>H Mart</key>
	<dict>
		<key>r_1</key>
		<string>Creamy chocolate. I use these perfect sized chocolates for my kids&apos; treats. It&apos;s the perfect amount for them versus a candy bar sized chocolate
</string>
		<key>r_2</key>
		<string>Great chocolate one of the best I ever had. Creamy smooth</string>
	</dict>
	<key>GNC</key>
	<dict>
		<key>r_1</key>
		<string>Ghirardelli is one of my top fav chocolates. It has a creamy &amp; smooth texture so that it melts in your mouth. It comes in a handy square to bite the tips all around. One of my habits. The packaging is really eye catching. The individual packets helped carry them where ever I went. I would definitely recommend this to anyone that loved milk chocolate goodness.</string>
		<key>r_2</key>
		<string>I love this chocolate it is so creamy when it melts into my mouth . Every time I go into the store I always buy some and share with my kids.</string>
		<key>r_3</key>
		<string>Yum! Smooth milk chocolate with a great taste!
</string>
		<key>r_4</key>
		<string>YUMMY!</string>
	</dict>
	<key>New York Supermarket</key>
	<dict>
		<key>r_1</key>
		<string>This is the kinda chocolate you want to crave. its very smooth and deliousious!!! i dont get to eat them often but when i so i savy them.great for a gift too.</string>
		<key>r_2</key>
		<string>Love this candy and the other varieties as well! Good rich and smooth chocolate and great for movies! Wish i could find some coupons but generally I purhase from Marshall&apos;s at a reasonable price.
Love this candy and the other varieties as well! Good rich and smooth chocolate and great for movies! Wish i could find some coupons but generally I purhase from Marshall&apos;s at a reasonable price.
</string>
	</dict>
	<key>Morton Williams Supermarkets</key>
	<dict>
		<key>r_1</key>
		<string>Great quality chocolate</string>
		<key>r_2</key>
		<string>I have one word to describe these &quot;EVIL!&quot; They will sit on the counter or on the shelf and just BEG to be eaten! Once you start, you just can not stop! SO GOOD!</string>
		<key>r_3</key>
		<string>So yummy!!! Soft rich chocolate squares. All of the flavors are good, you won&apos;t be disappointed!!!</string>
	</dict>
</dict>
</plist>
